/* main container */
.container {
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* page heading */
.heading {
  font-size: 42px;
  /* font-weight: 700; */
  color: #333;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
}
/* Small screens (phones, 600px and down) */
@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
  }
}

/* Medium screens (tablets, 601px to 992px) */
@media (min-width: 601px) and (max-width: 992px) {
  .heading {
    font-size: 1.6rem;
  }
}

/* Large screens (desktops, 993px and up) */
@media (min-width: 993px) {
  .heading {
    font-size: 2.5rem;
  }
}

.img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* Small screens (phones, 600px and down) */
@media (max-width: 600px) {
  .responsive-img {
    max-width: 80%;
  }
}

/* Medium screens (tablets, 601px to 992px) */
@media (min-width: 601px) and (max-width: 992px) {
  .responsive-img {
    max-width: 100%;
  }
}

/* Large screens (desktops, 993px and up) */
@media (min-width: 993px) {
  .responsive-img {
    max-width: 90%;
  }
}

/* search */
.search-by-id {
  max-width: 400px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 20px;
}
/* search result */
.student-card {
  max-width: 400px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 20px;
}

.student-card .card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

/* student data table */
.table {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  border-radius: 0.25rem;
}

.table th,
.table td {
  padding: 0.5rem; /* Reduced padding for table cells */
  vertical-align: top;
  border: 1px solid #dee2e6;
  font-size: 0.9rem; /* Reduced font size */
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  color: #ffffff;
  background-color: #0a2037;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 8px 16px;
  border: 1px solid #dee2e6;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
}

.pagination li.disabled a {
  color: #6c757d;
  cursor: not-allowed;
}
