.App {
  text-align: center;
}

body {
  background-color: #071828; /* Set the background color of the page */
}

.sign-up-form {
  max-width: 350px; /* Adjust this value as needed */
  margin: 0 auto;
  padding: 20px; /* Optional: Add some padding for better aesthetics */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  background-color: #ffffff;
}
